.energy-page-bg {
    background-color: black;
    height: 100vh;
    color: white;
}

.energy-title-container {
    outline: red solid 1px;
    display: flex;
    justify-content: center;
    padding: 35px 0;
}

.savings-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.energy-savings-container {
    background-color: #1d1d1d;
    outline: red solid 2px;
    margin: 0 200px;
    margin-right: 200px;
}

.energy-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.energy-title {
    margin-left: 400px ;
    margin-bottom: 25px;
    font-size: 20px;
}    