* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.card-container {
    /* outline: purple solid 10px; */
    border: 2px solid #d0d1d2;
    border-radius: 25px;
    overflow: hidden;
    height: 300px;
    width: 425px;

}

.card-img {
  height: 10.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* outline: blue solid 3px;  */
} 


 
html body {
  background-color: black;
  height: 100vh;
}

.bg-img-1 {
  background-image: url("../../../public/assets/Model-Z.jpg");
  padding-bottom: 20px;

}

.bg-img-2 {
  background-image: url(../../../public/assets/Green-Roof-System.jpg);
  padding-bottom: 20px;

}

.bg-img-3 {
  background-image: url(../../../public/assets/Living-Walls-Outdoor.jpg);
  padding-bottom: 20px;
}

.link-decoration {
    text-decoration: underline;
}

.dashboard-title {
  padding-left: 37rem;
  font-size: 2.3rem;
  margin-bottom: 2rem;
  margin-top: 7rem;
  color: white;
}

.paragraph-styling {
  background-color: #101010;
  color: white;
  width: 100%;
  font-size: 0.8rem;
  /* outline: red solid 1px; */
}

a {
  text-decoration: none;
  color: black;
}

.p-style {
  background-color: #101010;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 42%;
  /* outline: red solid 2px; */
  justify-content: center;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* outline: red solid 3px; */
  height: 525px;
  width: 45rem;
  margin-left: 35rem;
  grid-gap: 30px;
  /* outline: red solid 2px; */
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */

@media screen and (max-width: 1024px) {
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 50%;
    margin: 0 auto;
    outline: red solid 3px;
    /* grid-auto-columns: 100px; */
    width: 100%;
    justify-content: center;
  }

  h3 {
    margin-left: 2rem;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    margin-top: 7rem;
}
}

.product-title {
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  
}

html {
  overflow-x: hidden;
}
     