nav {
  width: 100vw;
  background-color: black;
}

.nav-spacing {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: red solid 2px; */
}

nav a {
  color: whitesmoke;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  width: 100vw;
  margin-left: 5rem;
}
